.footer {
    padding: 30px 0;
    background-color: #041415;
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}